<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank Money Transfer</title>
      <style>
		h2{
			background-color: #45b6fe;
			padding: 20px;
			text-align: center;
		
		}
			body{
			font-family: Arial, sans-serif;
			background-color: #f4f4f4;
			margin: 20px;
		}
	</style>
</head>
<body>
    <h2>Bank Money Transfer</h2>
    
    <!-- This Div is used to show ERROR Message -->
    
    <div th:if="${error}" style="color: red;">
		<p th:text="${error}"></p>
	</div>
	
	<form th:action="@{/transaction/transfer}" method="post">
		
		<label for="userAccountNumber"> User Account Number </label>
		<input id="userAccountNumber" name="userAccountNumber" required>
		<br>
		<br>
		<label for="userIFSCCode"> User IFSC Code </label>
		<input id="userIFSCCode" name="userIFSCCode" required>
		<br>
		<br>
		<label for="recipentAccountNumber"> Recipent Account Number </label>
		<input id="recipentAccountNumber" name="recipentAccountNumber" required>
		<br>
		<br>
		<label for="recipentIFSCCode"> Recipent IFSC Code </label>
		<input id="recipentIFSCCode" name="recipentIFSCCode" required>
		<br>
		<br>
		<label for="amount"> Enter Amount </label>
		<input type="text" id="amount" name="amount" required>
		<br>
		<br>
		<button type="submit"> Transfer Amount</button>
	</form>
</body>
</html>