<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Role Change</title>
        <style>
		h2{
			background-color: #45b6fe;
			padding: 20px;
			text-align: center;
		
		}
			body{
			font-family: Arial, sans-serif;
			background-color: #f4f4f4;
			margin: 20px;
			text-align: center;
		}
	</style>
</head>
<body>
	<h2>Change The Role Of The User</h2>
    <form action="/admin/updateUserRole" method="post">
		<label for="userEmail">User Email : </label>
		<input type="text" id="userEmail" name="userEmail" />
		<br>
		<br>
		<label for="newRole">User New Role : </label>
		<input type="text" id="newRole" name="newRole" />
		<br>
		<br>
		<button type="submit">Update Role</button>
	</form>
</body>
</html>