<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Of Wallets</title>
     <style>
				body{
			font-family: Arial, sans-serif;
			background-color: #f4f4f4;
			margin: 20px;
		}
		
		table{
			max-width: 1200px;
			margin: 30px auto;
			padding: 30px;
			background-color: lightgray;
			border-radius: 10px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		}
		
		h2{
			background-color: #45b6fe;
			padding: 20px;
			text-align: center;
		
		}
	</style>
</head>
<body>
    <h2>List Of Wallets</h2>
    <table>
		<thead>
			<tr>
				<th> Wallet Id</th>
				<th> Wallet Balance</th>
				<th> Wallet Registered Mobile Number</th>
				<th> Wallet Type</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="wallets : ${wallet}">
				<td th:text="${wallets.id}"></td>
				<td th:text="${wallets.balance}"></td>
				<td th:text="${wallets.registeredMobileNumber}"></td>
				<td th:text="${wallets.walletType}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>